<header class="HEAD">
    <nav class="navbar navbar-expand-lg fixed-top  px-md-5 py-md-3">
        <div class="container-fluid text-lg-center ">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <svg xmlns="http://www.w3.org/2000/svg" width="33" height="36" fill="#ff6600"
                    class="bi bi-list my-0 py-0" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                </svg>
            </button>

            <div class="collapse navbar-collapse text-lg-center" id="navbarSupportedContent"
                style="font-family:Somar Sans ;font-weight: 400;">
                <ul class="navbar-nav  pe-lg-5 mb-2 mb-lg-0 text-start">
                    <li class="nav-item mb-2 mb-lg-0   mt-2 mt-lg-0">
                        <a class="nav-link active   rounded-pill" aria-current="page" href="#">
                            <button class="btn btn-outline-light  rounded-pill bg-white text-black"> <img
                                    src="./img/Group 10294.svg" alt="imgs">
                                EN</button> </a>
                    </li>
                    <li class="nav-item ms-2 mb-lg-0">
                        <a class="nav-link active   rounded-pill" aria-current="page" href="./becom.html">
                            <button class="btn btn-outline-light fw-bold rounded-pill bg-white text-black">كن أحد
                                الشركاء
                            </button> </a>
                    </li>


                </ul>

                <ul class="navbar-nav mx-auto mb-2 mb-lg-0 text-lg-center">
                    <li class="nav-item ">
                        <a class="nav-link active fw-bold" aria-current="page" href="./contactus.html">تواصل معنا
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active fw-bold" aria-current="page" href="./blog.html">المدونة </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active fw-bold" aria-current="page" href="./ourworks.html"> أعمالنا </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active fw-bold" aria-current="page" href="./services.html"> خدماتنا </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active fw-bold" aria-current="page" href="./careers.html">الوظائف</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active fw-bold" aria-current="page" href="./aboutus.html">من نحن</a>
                    </li>

                </ul>

            </div>
            <a class="navbar-brand" href="/">
                <img src="./img/Group.svg" alt="imgs" style="height: 30px;width: 200px;color: rgb(32, 69, 83);">
            </a>
        </div>
    </nav>
</header>